@media screen and (min-width:0px)
{
.wrapper-bg {
	background: none;
}
.wrapper .inner {
	width: auto; max-width: 1000px;
}
}
@media screen and (min-width:1000px)
{
.wrapper-bg {
	background: url("img/wrapper-bg.png") no-repeat 50% 0px;
}
}
@media screen and (max-width:999px)
{
body {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
p {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
a {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
a:link {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
a:visited {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
a:hover {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
a:active {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
input {
	font-family: Helvetica, Verdana, "Microsoft YaHei","Î¢ÈíÑÅºÚ", Tahoma, Geneva, sans-serif; font-size: 14px;
}
#top-nav .languages-nav {
	float: none; position: static;
}
#top-nav {
	background: rgb(68, 68, 68);
}
#top-nav .wp-menu .menu-item a {
	background: none; border: 0px currentColor; border-image: none; color: rgb(153, 153, 153);
}
#top-nav .languages-nav .wp-menu .menu-item a:hover {
	color: rgb(242, 242, 242);
}
#header {
	background: rgb(255, 255, 255);
}
#header .header {
	margin: 0px; padding: 0px;
}
#header .logo {
	float: none;
}
#header .logo img {
	height: 54px;
}
#header .nav {
	margin: 0px; float: none;
}
#header .nav-role {
	background: rgb(216, 216, 216); padding: 5px 0px;
}
#header .logo {
	padding: 12px 0px; float: none; display: inline-block;
}
#search {
	display: none;
}
#nav-switch {
	display: block;
}
.search-bar {
	margin: 0px 6px; float: none;
}
.roles-nav {
	margin: 0px 6px; float: none;
}
.search-bar {
	height: 30px; overflow: hidden; padding-left: 0px;
}
.search-bar .wp_search {
	height: 30px; line-height: 30px; margin-right: 30px; position: relative;
}
.search-bar .wp_search #keyword {
	width: 100%;
}
.search-bar .wp_search table {
	width: 100%;
}
#keyword {
	padding: 5px 2px; border-radius: 0px; border: 0px currentColor; border-image: none; overflow: hidden; font-size: 16px;
}
.search-bar .wp_search .search {
	outline: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; top: 0px; width: 32px; height: 30px; right: -30px; overflow: hidden; display: block; position: absolute;
}
.roles-nav .wp-menu .menu-item {
	height: 16px; line-height: 16px; margin-top: 4px; margin-left: 4px;
}
.roles-nav .wp-menu .i1 {
	margin-left: 0px;
}
.roles-nav .wp-menu .menu-item .split {
	display: none;
}
.main-nav-bar .main-nav .wp-menu {
	background: none; padding: 0px; float: none;
}
#nav {
	margin: 0px; padding: 0px; display: none;
}
#nav .main-nav {
	background: none; margin: 0px; padding: 0px;
}
#nav .main-nav .menu-item {
	background: rgb(51, 51, 51); float: none;
}
#nav .main-nav .menu-item a {
	padding: 0px 40px 0px 10px; height: 40px; color: rgb(238, 238, 238); line-height: 39px; overflow: hidden; border-bottom-color: rgb(85, 85, 85); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
#nav .main-nav .menu-item a:hover {
	background: rgb(119, 119, 119); color: rgb(238, 238, 238);
}
#nav .main-nav .opened a.menu-link {
	background: rgb(119, 119, 119); color: rgb(238, 238, 238);
}
#nav .main-nav .menu-switch-arrow {
	background: url("img/bu2.png") no-repeat 50%; top: 0px; width: 40px; height: 40px; right: 0px; display: block; position: absolute;
}
#nav .main-nav .opened .menu-switch-arrow {
	background-image: url("img/bu2_.png");
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; width: 100%; position: static;
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu li.sub-item {
	background: rgb(248, 248, 248); margin: 0px; padding: 0px; width: 100%; float: none;
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu li.sub-item a {
	background: none; height: 35px; color: rgb(85, 85, 85); line-height: 34px; padding-left: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu li.sub-item a:hover {
	background: rgb(245, 245, 245); border-color: rgb(170, 170, 170); color: rgb(185, 47, 15);
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu li.sub-item ul li a {
	padding-left: 30px;
}
#nav .main-nav .wp-menu .menu-item ul.sub-menu li.sub-item ul li ul li a {
	padding-left: 40px;
}
#focus .focus-title-bar {
	right: 2%; bottom: 4%;
}
.main-wrap {
	background: rgb(255, 255, 255);
}
.main-side {
	width: auto; float: none;
}
.section-left {
	width: auto; float: none;
}
.section-right {
	width: auto; float: none;
}
.left-side {
	width: auto; float: none;
}
.wp-post {
	margin: 0px 6px;
}
.wp-post .post-head {
	background: rgb(242, 242, 242);
}
.wp-post .post-head .post-name {
	font-size: 16px;
}
.wp-post .post-body {
	margin: 7px 0px;
}
.column-read {
	margin: 10px 0px;
}
.col-menu {
	width: 190px; margin-right: -190px;
}
.col-menu-box {
	width: 180px;
}
.col-news-list {
	margin-left: 190px;
}
.info-wrap {
	margin: 0px 20px;
}
.img-links {
	display: none;
}
.img-links-mobile {
	margin-bottom: 15px; display: block;
}
.logins {
	width: 100%;
}
.logins .input {
	margin: 10px 10px 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; height: auto; text-align: center; display: block;
}
.logins .sel {
	margin: 10px 10px 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; height: auto; text-align: center; display: block;
}
.logins .switch {
	background: url("img/select-icons.png") no-repeat -10px -116px; height: 30px;
}
.logins .up {
	background-position: -10px -68px;
}
#loginSelect {
	border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%; height: 33px; color: rgb(85, 85, 85); line-height: 33px; display: none;
}
.logins .input input {
	background: rgb(255, 255, 255); border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%; height: 33px; color: rgb(85, 85, 85); line-height: 33px; text-indent: 5px; font-size: 16px;
}
.logins .sbt input {
	background: rgb(175, 97, 170); border-radius: 3px; border: 1px solid rgb(155, 79, 150) !important; border-image: none !important; width: 80px; height: 31px; text-align: center; color: rgb(255, 255, 255); line-height: 31px; font-size: 16px; display: block;
}
.logins .sbt a {
	background: rgb(175, 97, 170); border-radius: 3px; border: 1px solid rgb(155, 79, 150) !important; border-image: none !important; width: 80px; height: 31px; text-align: center; color: rgb(255, 255, 255); line-height: 31px; font-size: 16px; display: block;
}
.logins .input input:focus {
	box-shadow: 0px 0px 5px #b153ab;
}
.logins .sbt a:focus {
	box-shadow: 0px 0px 5px #b153ab;
}
#loginSelect:focus {
	box-shadow: 0px 0px 5px #b153ab;
}
.logins .sbt input {
	height: 33px;
}
.sbt_r {
	width: auto; margin-left: 5px; float: left;
}
.sbt_l {
	width: auto; margin-left: 5px; float: left;
}
.sbt {
	margin: 10px 0px 10px 130px;
}
.logins .sel {
	border: 1px solid rgb(102, 102, 102); border-image: none; top: 80px;
}
#mailname {
	line-height: 30px;
}
.logins .sel .mailslist {
	width: 118px;
}
.logins .sbt_l a {
	width: 105px;
}
}
@media screen and (max-width:767px)
{
.orbit-wrapper .orbit-caption {
	background: none; padding: 0px; left: 0px; bottom: 0px;
}
.orbit-wrapper .orbit-caption h1 {
	margin: 0px; padding: 0px; text-indent: 6px; float: none; display: block;
}
.column-read {
	margin: 0px 0px 10px;
}
.col-news-con {
	margin: 0px 10px; width: auto; float: none;
}
.col-news-list {
	margin: 0px;
}
.col-menu {
	margin: 0px auto; width: 100%; float: none;
}
.col-menu-box {
	margin: 0px auto; width: 100%; float: none;
}
.col-menu-wrap li a {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242);
}
.col-menu-wrap li a:hover {
	color: rgb(242, 242, 242); text-decoration: none; background-color: rgb(85, 85, 85);
}
#column-switch {
	display: block;
}
.col-menu-list {
	display: none;
}
.column-path-bar {
	height: auto;
}
.column-path-bar .column-title {
	display: none;
}
.column-path {
	float: none;
}
.column-path .path-list {
	float: none;
}
.column-path .path-list-title {
	display: none;
}
.column-anchor {
	background: rgb(85, 85, 85); text-indent: 10px;
}
.column-anchor .anchor-title {
	background: none; padding: 6px 0px; color: rgb(162, 162, 162); text-indent: 10px;
}
.info-wrap {
	margin: 0px 10px;
}
.info-box {
	width: 100%; float: none;
}
.info-box .article {
	margin: 10px auto 0px; padding: 0px;
}
.article h1.arti-title {
	font-size: 18px;
}
.info-box .column-path {
	background: rgb(238, 238, 238); padding: 5px;
}
}
@media screen and (max-width:639px)
{
.article .arti-metas {
	text-align: left;
}
.article h1.arti-title {
	text-align: left;
}
}
@media screen and (max-width:479px)
{
#top-nav .wp-menu {
	margin: 0px 3px;
}
#top-nav .wp-menu .menu-item a {
	padding: 0px 3px;
}
.article .arti-metas .arti-editor {
	display: none;
}
.article .arti-metas .arti-from {
	display: none;
}
.info-wrap {
	margin: 0px 6px;
}
#focus .focus-title-bar {
	visibility: hidden;
}
}
@media screen and (max-width:319px)
{
.main-wrap .wp-post .post-body {
	margin: 0px 6px; width: auto;
}
.img-links-mobile .img-link {
	margin: 0px 3px;
}
.img-links-mobile .img-link a {
	text-align: center; color: rgb(143, 67, 138); display: block;
}
.img-links-mobile .img-link img {
	vertical-align: top; max-width: 100%;
}
.img-links-mobile .img-link h3 {
	height: 28px; line-height: 28px; font-size: 14px; font-weight: normal;
}
}
